* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
}

/*----HEADER----*/
.header {
  max-width: 100%;
  min-width: 300px;
  height: 90px;
  background: #e5e5e5;
  background: linear-gradient(#fff, #e5e5e5);
  margin: 0 auto;
  padding-top: 8px;
  border-bottom: 1px solid #888;
}

.header img{
  float: left;
  height: 70px;
  padding-left: 10%;
}

.header .nav{
  float: right;
  padding-right: 10%;
}

/*----NAV----*/
.nav {
  text-align: center;
  margin: auto 0;
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav li {
  font-family : 'Oswald', sans-serif;
  font-size : 18px;
  display: inline-block;
  padding: 10px;
}

.nav a {
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  color: #555;
  text-decoration: underline;
}
.nav a .active{
  text-decoration: underline;
}

/*---BODY---*/

.main {
  background-color : #fff;
  margin : 0 auto;
  border-color : #000;
  padding-left : 1%;
  padding-right : 1%;
}

.jumbo{
  background-image: url('../../assets/img/photo_2.png') ;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.jumbo h1{
  margin: 0;
  font-size: 35px;
  text-align: center;
  color: #fff;
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
}


/*---SLIDESHOW---*/
.slide{
  position: relative;
  height: 500px;
  width: 100%;
}

.slide img{
  position: absolute;
  top: 0;
  left: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





.content{
  margin: 0 auto;
  padding: 0;
}

.col {
  min-height : 100px;
  float: left;
  width: 46%;
  padding-top: 15px;
  margin-right: 2%;
  margin-left: 2%;
}






article {
min-height : 100px;
padding-top : 5px;
}
.left {
float : left;
width : 48%;
margin-top : 15px;
padding-right : 1px;
}
.right {
float : right;
width : 48%;
margin-top : 15px;
padding-left : 1px;
}
aside {
width : 30%;
min-height : 100px;
}
.center {
margin : 0 auto 0 auto;
}

/*----FOOTER----*/
.foot {
width : 100%;
height : 60px;
background-color : #000;
color : #fff;
clear: both;
margin-top: 50px;
}

.foot p{
  margin: 0 auto;
  padding-top: 10px;
}



.inventory {
width : 100%;
height : 300px;
margin : 15px 5px 10px 5px;
padding : 15px 5px 10px 5px;
border : black none 1px;
}
#inventory img {
border-radius : 10px;
margin : auto 5px;
height : 265px;
}
#inventory div .right {
float : right;
width : 300px;
margin : auto 0;
}
#inventory p {
height : 140px;
}
.moreinfo {
width : 100px;
height : 30px;
color : #fff;
background-color : #999;
text-align : center;
padding-top : 7px;
border-radius : 5px;
}
.moreinfo a {
text-decoration : none;
color : #ccc;
}

.moreinfor a:hover{
  text-decoration : underline;
  color : #bbb;
}
